body {
  font-family: "Roboto", arial, sans-serif;
  background-color: #E6E6E6;
}

.hidden { display: none; }

.div-card {
  max-width: 640px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(186,186,186,.83);
  -moz-box-shadow: 3px 3px 3px 0px rgba(186,186,186,.83);
  box-shadow: 3px 3px 3px 0px rgba(186,186,186,.83);
}
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#comments-container {
  position: absolute;
  top: 475px;
  width: 640px;
  min-height: 100px;
  margin: 15px;
}

#comment-input-container {

  position: relative;
  left: 50px;
  top: 25px;
  margin: 0;
  padding-bottom: 20px;
}

#comment-heading {
  position: relative;
  left: 10px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  margin-left: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #167ac6;
}

#comment-p { padding-left: 30px; }

#comment-threads { list-style-type: none; }

#comment-threads li { padding-bottom:  3px !important; }

#comment-threads li:before {
  position: relative;
  top: 20px;
  left: -15px;
  padding-top: 10px !important;
  font-family: 'FontAwesome';
  content: '\f075';
  color: #666;
  font-size:10px;
  z-index: 3;
}

#results-heading {
  position: relative;
  left: 10px;
  padding-right: 10px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  margin-left: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #167ac6;
}

#results-description {
  position: relative;
  left: 10px;
  padding-right: 15px;
  margin: 0;
  word-wrap: break-word;
  font-size: 12px;
  color: #767676;
}

#results-panel{
  float: left;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

#results-panel ul {
  padding: 0;
  list-style-type: none;
}

#results-panel li img {
  width: 196px;
  height:110px;
  float: left;
  margin: 0;
}

#results-panel li {
  padding: 10px;
  overflow: auto;
}

#results-panel li:hover { cursor: pointer; }

#side-panel {
  position: absolute;
  left: 690px;
  background-color: white;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  width: 350px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(186,186,186,.83);
  -moz-box-shadow: 3px 3px 3px 0px rgba(186,186,186,.83);
  box-shadow: 3px 3px 3px 0px rgba(186,186,186,.83);
}

#side-panel ul {
  list-style-type: none;
  padding: 0px;
}

#side-panel p {
  width: 200px;
  padding-left: 10px;
  margin: 0;
  vertical-align: middle;
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
  font-size: 12px;
  color: black;

}

#side-panel li img {
  width: 120px;
  height: 90px;

}

#side-panel li {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#side-panel li:hover { cursor: pointer; }

@media only screen and (max-width: 1010px) {
  #side-panel {
    display: none;
  }
}

#searchquery { width: 50%; }

#search-div { float: right; }

#top-bar { margin-bottom: 20px; }

#new-comment {
  position: relative;
  left: 15px;
  padding-bottom: 20px;
  width: 80%;
}

#yt-container {
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
  float: left;
  max-height: 390px;
  width: 640px;
}
