body {
  font-family: 'Roboto Condensed', sans-serif;
}

input[type="text"] {
  display: inline-block;
  margin: 0;
  width: 40%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="button"] {
  	border : solid 1px #e0e0e0;
  	border-radius : 0px 0px 1px 0px ;
  	moz-border-radius : 0px 0px 1px 0px ;
  	font-size : 18px;
  	color : #000000;
  	padding : 2px 6px;
    background-color: inherit;
}

#queryEcho {
  float: left;
  padding-top: 20px;
}

#container ul {
  list-style-type: none;
  width: 500px;
}

#container h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#container li img {
  width: 240px;
  height:124px;
  float: left;
  margin: 10px 15px 0 0;
}

#container li p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

#container li {
  padding: 10px;
  overflow: auto;
}

#container li:hover {
  background: #eee;
  cursor: pointer;
}

#header {
  margin: 20px;
  font-size: 24px;
}

#logo {
  margin-right: 50px;
}
