* {
  margin: 0; padding: 0;
}

img {
  width: 240px;
  height:124px
}

#queryEcho {
  position: relative;
  left: 300px;
  /*display: none;*/
  height: 100px;
  margin-left: 20px;
}

#container {
  margin: 20px;
}

#container ul {
  list-style-type: none;
  width: 500px;
}

#container h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

#container li img {
  float: left;
  margin: 0 15px 0 0;
}

#container li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#container li {
  padding: 10px;
  overflow: auto;
}

#container li:hover {
  background: #eee;
  cursor: pointer;
}

#header {
  margin: 20px;
}
